/* styles.css */

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: red;
}
h1 {
	 font-family: "Alegreya", serif;
}
.backgroundimage {
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
	margin: 64px auto;
}
